body {
    background-color: powderblue;
  }
/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

.table-container {
    display: flex;
    gap: 20px; /* ระยะห่างระหว่าง table */
    padding: 20px;
  }

.table-container table {
    width: 50%;
  }
  .table-camera-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
  }

  .table-camera-container table {
    width: 50%;
  }

  .table-camera-container img {
    width: 100%;
    max-width: 500px;
    border: 2px solid #0d6efd;
    border-radius: 10px;
  }